* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.will {
    border: green solid 1px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: .8rem;
    margin-top: 1rem;
    margin-left: 1rem;

}




.game {
    width: 100%;
    height: 100vh;
    border-bottom: 30px solid green;

    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

button {
    background: green;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
    position: fixed;
    margin-bottom: 7rem;

    cursor: pointer;
    z-index: 1;

}
.start{

    
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    
    top: 248px;
    left: 0px;
    right: 0px;
    width: 140px ;
   margin:auto;
    
}

button:hover {
    border: 2px solid green;

    border-radius: 2rem;
    transition: 1s;
    background: none;
    transform: scale(1.3);


    color: green;
}

.game-over {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.322);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;


}


.game-over .h1game {
    font-size: 2rem;
    color: red;
    text-align: center;
    border: 2px solid red;
    background-color: rgba(129, 17, 17, 0.6);
    border-radius: 1rem;
    transform: scale(1.4);
    margin-top: 8rem;
}




.pipe {
    position: absolute;
    bottom: 0;
    right: -80px;
    width: 80px;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.clouds {
    width: 550px;
    position: absolute;
    top: 0;
    animation: clouds-animation 20s infinite linear;
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

.pipe-animation {
    animation: pipe-animation 2s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

.jump {
    animation: jump 700ms ease-out;
    transform: rotate(6.142rad);
    transition: .7s;
}

@keyframes jump {
    0% {
        bottom: 0;
    }



    40% {
        bottom: 350px;
    }

    50% {
        bottom: 350px;
    }


}


@media only screen and (max-width: 395px) {

    section {
        width: 100%;
        height: 100vh;
        right: 46vw;
        top: 50vh;
    }

    .game-over {

        width: 100%;
        height: 665px;


    }

    .h1game {

        display: flex;
        flex-direction: column;


    }



}